header{
    background-color: #4f837f;
}
.nav-link{
    color: whitesmoke;
    font-size: 23px;
    font-weight: bold;
}
.homeBody{
    background: url(img/moriDoor.jpg) no-repeat fixed center;
    background-size: 100%;
    background-color: #336965;
}
.loginBody{
    background: url(img/fangorn.jpg) no-repeat fixed center;
    background-size: 100%;
    background-color: #336965;
}
.getTicket{
    background: url(img/mordorTableau.jpg) no-repeat fixed center;
    background-size: 100%;
    background-color: #336965;
}

.jumbotron{
    background-color: rgba(255,250,250, 0.6)
}
.btn-home{
    background-color: #4f837f;
    color : white;
    font-size : 20px;
    font-weight: bold;
}
.form-group{
    margin-top: 65px;
    color:white;
    font-size : 20px;
    font-weight: bold;
}
.msgConnexion{
    color:white;
    font-size : 20px;
    font-weight: bold;
}
.inscription{
    color :#4f837f;
    font-weight: bold;
}