<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>

<body class="descriptionBody">
    <header th:replace="fragments/header.html :: header"></header>

    <div class="card mb-3 col-md-6 mt-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="@{img/GandalfWizard.jpg}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pyrotechnic show</h5>
                    <p class="card-text">discover a new version of pyrotechnics with the baton of Gandalf or Sarumane. 
                        Followed by a fight recalling the scene of confrontation between these 2 protagonists</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-md-6 ml-auto">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img th:src="@{img/gimli.jpg}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Ax throw</h5>
                        <p class="card-text">be ready for our new show! Gimli, and his comrades from Moria, offer you an astonishing and dangerous ax throwing contest</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-md-6">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img th:src="@{img/legolas.jpg}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Archery</h5>
                            <p class="card-text">Legolas and his elven community offer you a presentation of archery, with increased accuracy in various positions.
                                    Accompanied by a horse show on the same theme</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-md-6 ml-auto">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="@{/img/azogOrc.jpg}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Warg tamer and Oliphant</h5>
                                <p class="card-text">Taming of warg and oliphant, more commonly known as lions or elephants, with the help of Azog</p>
                            </div>
                        </div>
                    </div>
                </div>
