<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>

<body class="homeBody">
    <header th:replace="fragments/header.html :: header"></header>


    <div class="container">
        <div class ="row d-flex justify-content-center">
            <div class="jumbotron m-3">
                <h1 class="d-flex justify-content-center">Welcome to the Mine Of Moria!</h1>
                <p class="lead d-flex justify-content-center">Welcome! Madame, Sir, Children, come and discover the wonderful world of the Lord Of Circus</p>
                <hr class="my-4">
                <p class="lead center">"A ring to rule them all", you all know this sentence. Come in this circus inspired by the legendary movie The Lord of the Rings.
                     You will discover our differents artists : dwarves, magi, elves, and other creatures. The middle earth is waiting for you</p>
                <div class="text-center">
                    <a class="btn btn-home btn-lg" href="#" role="button">Discover theses creatures</a>
                </div>
            </div>
        </div>
    </div>
    
    <script th:replace="fragments/script.html :: script"></script>

</body>
</html>