<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>

<body class="getTicket">
    <header th:replace="fragments/header.html :: header"></header>

    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <table class="table">
                    <caption>
                        Join us on the battlefield
                    </caption>
                    <thead>
                        <tr>
                            <th>Days</th>
                            <th>Adults</th>
                            <th>Child under 12</th>
                            <th>group (10persons)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Week off/wednesday</th>
                            <td>8€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                            <td>6€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                            <td>70€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Weekend</th>
                            <td>10€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                            <td>7€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                            <td>80€
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        buy
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#!">1 place</a>
                                        <a class="dropdown-item" href="#!">2 place</a>
                                        <a class="dropdown-item" href="#!">3 place</a>
                                        <a class="dropdown-item" href="#!">4 place</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script th:replace="fragments/script.html :: script"></script>

</body>

</html>