<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>

<body class="getTicket">
    <header th:replace="fragments/header.html :: header"></header>

    <section>
        <div class="container">
            <table class="table">
                <caption>
                    Join us on the battlefield
                </caption>
                <thead>
                    <tr>
                        <th>Days</th>
                        <th>Adults</th>
                        <th>Child(-12)</th>
                        <th>group(10p)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Week off</th>
                        <td>8€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                        <td>6€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                        <td>70€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Weekend</th>
                        <td>10€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                        <td>7€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                        <td>80€
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    buy
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" value=1 href="#!">1 place</a>
                                    <a class="dropdown-item" value=2 href="#!">2 places</a>
                                    <a class="dropdown-item" value=3 href="#!">3 places</a>
                                    <a class="dropdown-item" value=4 href="#!">4 places</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <input class="btn btn-home" type="submit" value="Validation">
        </div>
    </section>

    <script th:replace="fragments/script.html :: script"></script>

</body>

</html>