<!DOCTYPE html>

<body>
    <header th:fragment="header">


        <nav class="navbar navbar-expand-sm navbar-dark justify-content-end">
            <a class="navbar-brand" th:href="@{/}">Julien Risacher</a>
            <button class="btn-about btn ml-auto mr-1"></button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">|| Home in the Mine Of Moria ||</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/login}">|| Login in Fangorn Forest ||</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/getTicket}">|| Get tickets in Mordor ||</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>